<!DOCTYPE html> <!-- HTML5문서임을 선언(필수) -->
<html lang="en"> <!--문서 언어 명시-->
<head> <!--head, meta, title 이런거 필수 메타 정보 포함-->
	<meta charset="UTF-8">
	<title>Menu Page</title>
</head>
<body>
    <p>{{ computername }}</p> 
	<center>
    <p>메뉴판</p>
    <hr>
    <button name = "menu1" style="width: 70pt;">아메리카노</button><br>
    <button name = "menu2" style="width: 70pt;">카페라떼</button><br>
    <hr>
    <button name = "menu3" style="width: 70pt;">녹차</button><br>
    <button name = "menu4" style="width:70pt;">둥글레차</button><br>
     <button name = "menu5" style="width:70pt;">유자차</button><br>
    </center>
</body>
</html>
